<!DOCTYPE html>
<html>
<body>
{{#message}}
    {{message}}
{{/message}}
{{#user}}
    <div> юзер : </div>
    <strong>{{surname}} {{name}} {{patronymic}}</strong>
    <strong>C ID : {{id}} пропущен</strong>
    </div>
{{/user}}
</body>
</html>
